
body {
    background-color: lightblue;
}

h1 {
    color: maroon;
    text-align: center;
    font-size: 50px;
}

input[type=text] {
   width: 75%;
   border: 2px solid red;
   border-radius: 4px;
   padding: 12px 20px;
   margin: 8px;
}

textarea{
  width: 75%;
  height: 30%;
  border: 2px solid red;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px;

}

input[type = submit]{
  background-color: wheat;
  border-radius: 20px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%
}
